# ===== CONFIG =====
BRIDGE_IP="TEDEE-BRIDGE-IP"
TEDEE_TOKEN="TEDEE-API-TOKEN"
DEVICE_ID="TEDEE-DEVICE-ID"
TELEGRAM_TOKEN="TELEGRAM-BOT-TOKEN"
CHAT_ID="TELEGRAM-CHAT-ID"
MAX_RETRIES=3
SLEEP_BETWEEN=5
# ==================
